<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-sm-12">
            <mat-card >
                <mat-tab-group mat-align-tabs="start">
                    <mat-tab label="Line Chart">
                        <app-line-cahrt></app-line-cahrt>
                    </mat-tab>
                    <mat-tab label="Bar Chart" >
                        <app-bar-cahrt></app-bar-cahrt>
                    </mat-tab>
                    <mat-tab label="table">
                        <app-table-cahrt></app-table-cahrt>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>




